/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
	color: #222;
	font-size: 1em;
	line-height: 1.4;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Rubik+Mono+One|Work+Sans:400,700,800');

#container{
	position:absolute;
	box-sizing: border-box;
	width:100%;
	height:100%;
	top:0;
	left:0;
	bottom:0;
	right:0;
}

#countdown{
    color:#f7f3e8;
}

#countdown a{
    padding:.5em;
    display:inline-block;
    font-family: "Libre Baskerville";
    font-size:24px;
    color:white;
    text-decoration: none;
    background: #e6472a;
}

#countdown a:hover{
    background:#fabd40;
}

#countdown h1{
    font-family:"Work Sans";
    font-weight:400;
    background-image:url(../img/dethighlight.png);
    background-position: bottom;
    background-repeat: repeat-x;
    display:inline-block;   
    font-size:22px;
}

img{
    max-width:100%;
}

a{
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -ms-transition: all .4s linear;
    -o-transition: all .4s linear;
    transition: all .4s linear;
}

.social-bottom{
    display:block;
    background: #eebe38;
    padding:1em;
    box-sizing: border-box;
    bottom:0px;
    width:100%;
    text-align: center;
}

.sponsorimages img{
    width:100px;
}

.box{
	display:block;
	max-width:100%;
	top:0;
	left:0;
	justify-content: center;
}

.within{
	position:relative;
	width:100%;
	top: 50%;
	transform: translateY(-50%);
}

#header {
    position:fixed;
    z-index:99;
    right:0;
    margin:.5em;
    height:150px;
    width:100%;
}

#header-title{
    position:relative;
    left:50%;
    width:200px;
    margin-left:-100px !important;
    color:white !important;
    text-align:center;
}

#header-title h1{
    text-align:center;
}

#header img{
    max-height:100%;
    max-width:100%;
}

#header-icon{
    float:left;
    height:100px;
    left:0;
    position:fixed;
}

#header-icon img{
    max-height:100px;
}

#header h1{
    display:inline;
    font-family:"Libre Baskerville";
    color:black;
    letter-spacing:0px;
    text-align:center;
    float:left;
    font-size:36px;
    margin-left:1em;
}


.header-reg{
}
/* navigation modal */

#modal-icon {
    z-index:99;
    height:80px;    
	float: right;
}


.modal {
	display: none;
	position: fixed;
	z-index: 10; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal a{
    font-family:"Rubik Mono One";
    display:block;
    text-decoration: none;
    font-size:32pt;
    text-align: center;
    margin-top:.5em;
    margin-bottom:.5em;
}

.modal-content {
    position:fixed;
    top:0;
    left:0;
	background-color: #FEFEFE;
	width: 100%;
	height: 100%;
	font-family: "Oxygen";
}

.close {
	color: #AAAAAA;
	font-size: 32px;
    height:100px;
	float: right;
	font-weight: bold;
	font-family: "Oxygen";
}

.close:hover,
.close:focus {
	color: #000000;
	text-decoration: none;
	cursor: pointer;
}


.intro-box{
    margin:0;
}

.intro-box h1{
    color: #f8c767;
}

.intro-box p{
    width:80%;
    padding:.5em;
    font-size:14pt;
    color: #202020;
    font-family:"Work Sans";
}

.intro-register p{
    color: #fff;
    margin:1em;
    font-family: "Work Sans";
    text-align: center;
}

.how-register li{
    font-family:"Work Sans";
    font-size:16px;
    text-align: justify;
    margin-left:1em;
    margin-right:1em;
}

.how-register{
    max-width:600px;
    padding-bottom:1em;
}

.intro-register{
    padding:2em; 1em .5em 1em;
    align-self:center;
    position:relative;
}

.intro-register #search-input{
    border-radius:1em;
    border: none;
    padding:.5em;
    color: #000;
    background: #e6472a;
    font-family: "Work Sans";
    font-weight:800;
}

#dropdown-search{
    height: 70px;
    overflow-y:scroll;
    overflow-x:none;
}

#dropdown-search a{
    color: #4552d4;
    font-family: "Work Sans";
    text-decoration: none;
    display:inline-block;
    border-bottom:1px #4552d4 solid;
}

#dropdown-search a:hover{
    color:#ff713e;
}

.register-area a{
    display:inline-block;
    width:250px;
    max-width:45%;
    padding:.5em;
}

.register-area img{
    width:100%;
}

.main-navigation a{
    display:inline-block;
    font-family:"Work Sans";
    color: #071156;
    font-weight:900;
    text-decoration: none;
    margin:1em;
}

.main-navigation h3{
    margin: 0;
    font-weight:800;
    font-size:38px;
}

.main-navigation a:hover{
    color:#e55656;
}

.navigation-details{
    color: #2e2e2f;
    text-decoration: none;
    font-weight:300;
}

/* ==========================================================================
   STYLES
   ========================================================================== */

.reg-bundle{
    position:relative;
    left:0;
    min-height:120px;
    margin-top:2em;
    margin-bottom:2em;
    width:100%;
    max-width:700px;
    overflow:auto;
}

.reg-details strong{
    color:black;
    padding:.7em;
    margin-bottom:0;
    margin-right:5px;
    background:#f2b964;
    border-radius: 20px;
    font-family: "Work Sans";
    font-size:9px;
    font-weight: 400;
}

.reg-projectimg{
    position:absolute;
    max-width:40%;
    overflow:hidden;
    display:none;
}

.reg-projectimg img{
    height:250px;
}

.reg-projectbox{
    position:relative;
    z-index:9;
    max-width:500px;
    background-image:url(../img/bgdark.jpg);
    color: #fff;
    margin:5px;
    padding:1em;
    border-top:5px solid #4552d4;
    border-bottom:5px solid #d8452e;
}

.reg-projectbox a{
    font-family:"Work Sans";
    font-weight:800;
    display:inline-block;
    min-width:100px;
    padding-right:.5em;
    padding-left:.5em;
    text-align: center;
    color:#fff;
    font-weight:600;
    text-decoration: none;
    
}

.reg-projectbox h2{
    font-family:"Rubik Mono One";
    font-weight:100;
    margin: 0;
}

.reg-projectbox p{
    font-family:"Work Sans";
    margin-top: 1em;
    font-size:12px;
}

.register-directory{
    padding:1em;
}

.register-directory a{
    display:inline-block;
    width:150px;
    text-align: center;
    text-decoration: none;
    border-bottom:1px solid #fabd40;
    padding:.1em;
    color: #fabd40;
    margin:.1em;
    font-size:11px;
    font-family: "Work Sans";
}

.register-directory a:hover{
    color:blue;
}

.p-main{
    color:#fff !important;
    text-indent: 20px;
}


.register-links{
    position:absolute;
    left:50%;
    box-sizing: border-box;
    margin-left:-50%;
    width:100%;
    padding:2em;
}

/* =========================
            MENU
   ========================= */

#main-menu{
    z-index:9999;
}

#main-menu-close{
    margin:.75em;
    right: 0;
    top: 0;
    display:inline;
    position:fixed;
    float:right;
    height:100px;
}

#main-menu-content{
    background: #e6472a;    
}

#main-menu-content a{
    color:white;
    display:inline-block;
    text-align: center;
}

#main-menu-content a:hover{
    color:#fabd40;
}

#main-menu-content h3{
    margin:0;
}

#main-menu .sub-link{
    font-family:"Work Sans";
    margin: 0;
    color:#fabd40;
}

#main-menu-content .navigation-details{
    font-family: "Work Sans";
    margin:0;
    font-size:18px;
}

#main-menu a p{
    margin:0;
    font-size:18px;
    font-family: "Work Sans";
}

/* ==========================================================================
   FORMATTING STYLES
   ========================================================================== */

h1{
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    color: #f7f3e8;
    font-weight:100;
    letter-spacing:1px;
}

/* =========================
   ANIMATION STUFF AYAAYAYAY 
   ========================= */

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

.anim-shape{  
    position:absolute;
    top:0;
    height:100%;
    width:100%;
    z-index: -9999;
    background:transparent url(../img/moveyshapey2.png) repeat top center;
    -moz-animation:move-shapey 400s linear infinite;
    -ms-animation:move-shapey 400s linear infinite;
    -o-animation:move-shapey 400s linear infinite;
    -webkit-animation:move-shapey 400s linear infinite;
    animation:move-shapey 400s linear infinite;
}


.anim-dotty{  
    position:absolute;
    top:0;
    height:100%;
    width:100%;
    z-index: -9999;
    background:transparent url(../img/moveydot.png) repeat top center;
    -moz-animation:move-dotty 400s linear infinite;
    -ms-animation:move-dotty 400s linear infinite;
    -o-animation:move-dotty 400s linear infinite;
    -webkit-animation:move-dotty 400s linear infinite;
    animation:move-dotty     400s linear infinite;
}


@-webkit-keyframes hue {
    from {-webkit-filter: hue-rotate(0deg);}
    to { -webkit-filter: hue-rotate(-360deg);}
}

@keyframes move-dotty {
 from {background-position:0 0;}
 to {background-position:10000px -5000px;}
}
@-webkit-keyframes move-shapey {
 from {background-position:0 0;}
 to {background-position:10000px -5000px;}
}
@-moz-keyframes move-shapey {
 from {background-position:0 0;}
 to {background-position:10000px -5000px;}
}
@-ms-keyframes move-shapey {
 from {background-position:0 0;}
 to {background-position:10000px -5000px;}
}

@keyframes move-shapey {
 from {background-position:0 0;}
 to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-shapey {
 from {background-position:0 0;}
 to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-shapey {
 from {background-position:0 0;}
 to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-shapey {
 from {background-position:0 0;}
 to {background-position:-10000px 5000px;}
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
	   (-o-min-device-pixel-ratio: 5/4),
	   (-webkit-min-device-pixel-ratio: 1.25),
	   (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
	display: none !important;
	visibility: hidden;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible {
	visibility: hidden;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
	*,
	*:before,
	*:after {
		background: transparent !important;
		color: #000 !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	a[href^="#"]:after,
	a[href^="javascript:"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}